<ion-view view-title="Start" cache-view="false">
    <ion-header-bar align-title="center" class="bar-dark">
        <h1 class="title">Roofpik Admin</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="card">
            <div class="item">
                <h2>Welcome to Roofpik</h2>
            </div>
        </div>
        <div class="card">
            <form name="roofpikUser" novalidate ng-submit="roofpikUser.$valid && saveName()">
                <div class="item">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Employee Id</span>
                        <input type="number" placeholder="0000" ng-model="user.empId" required>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Event Id</span>
                        <input type="number" placeholder="Enter Your event ID" ng-model="user.event" required>
                    </label>
                </div>
                <div class="item">
                    <button class="button button-outline button-positive" ng-disabled="roofpikUser.$invalid">
                        Submit
                    </button>
                    
                </div>
                <div class="item">
                <a  ng-click="checkMobile()">
                        Check Mobile
                    </a>
                </div>
            </form>


        </div>
    </ion-content>
</ion-view>
