<ion-view view-title="Start">
    <ion-content class="has-header">
        <div class="card">
            <div class="item">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John" ng-model="user.name">
                </label>
            </div>
            <div class="item">
                <button class="button button-outline button-positive" ng-click="saveName()">
                    Submit
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
