<ion-view class="selfie">
<!-- 	<button class="button button-positive" ng-click="submit()">Skip</button>
	<button class="button button-positive" ng-click="submit()">Submit</button> -->
	<center>
	<h4 style="margin:10%;">Like to share a selfie to complete your review?</h4>
	<button class="button button-calm" style="font-size: 1.4em;" ng-click="cameraUpload()" ng-show="showBtns">Yes, Definitely!</button>
	</br>
	</br>
	</br>

	<button class="button button-assertive" style="font-size: 1.4em;" ng-click="writeReview()" ng-show="showBtns">Write Another Review!</button>
	</br>
	</br>
	</br>

	<button class="button button-energized" style="font-size: 0.8em;" ng-show="showBtns" ng-click="submit()">No Thanks</button>
	<button class="button button-royal" ng-show="imageClicked" ng-click="submit()">Submit</button>
	</br>
	</br>
	</br>
	<img id="myImage" style="width:60%; height:auto;">
	</center>

</ion-view>